.sidebar-container {
   /* position: absolute; */
   height: 100vh;
   width: 25%;
   background-color: rgb(235, 235, 235);
   overflow-y: scroll;
}


.sidebar-container::-webkit-scrollbar {
   width: 4px;
 }
 

.sidebar-container::-webkit-scrollbar-track {
   background: #c3c3c3;
 }
 

.sidebar-container::-webkit-scrollbar-thumb {
   background: rgb(107, 107, 107);
}

.sidebar-item {
   cursor: pointer;
   border: black 2px solid;
   margin: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.sidebar-item-input {
   outline: none;
   background-color: transparent;
   border: none;
   border-bottom:2px solid black ;
   font-size: 18px;
   margin-top: 0rem;
   margin: 1rem 0rem;
}

.sidebar-item-container {
   margin: 2rem 0rem;

}

.x-container {
   display: flex;
   justify-content: space-around;
}
 
.x-container > div {
   border-radius: 7px;
   border: 1px solid black;
   font-size: 18px;
   font-weight: 500;
   padding: 0.25rem 0.5rem;
}

.z-container {
   display: flex;
   justify-content: space-around;
   margin: 1rem 0rem;
}
 
.z-container > div {
   border-radius: 7px;
   border: 1px solid black;
   font-size: 18px;
   font-weight: 500;
   padding: 0.25rem 0.5rem;
}

.sidebar-add-button {
   border-radius: 5px;
   border: 1px solid black;
   padding: 0.25rem;
   transition: 0.25s;
   text-align: center;
}

.sidebar-add-button:active {
   transform: scale(0.95);
}

.sidebar-submit {
   padding: 1rem;
   border-radius: 5px;
   border: 1px solid black;
   margin: 1rem;
   cursor: pointer;
   text-align: center;
   font-size: 20px;
   transition: 0.25s;
}

.sidebar-submit:active {
   transform: scale(0.95);
}