.signup {
   display: flex;
   background-color: rgb(192, 192, 192);
   height: 100vh;
}

.signup-left {
   width: 65%;
   border-right: 2px black solid;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.signup-title {
   margin-top: 10rem;
}

.su-canvas-container {
   height: 100%;
   width: 100%;
}

.signup-right {
   background-color: rgb(215, 215, 215);
   width: 35%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.su-right-form {
   display: flex;
   height: 80%;
   padding: 2rem;
   flex-direction: column;
   justify-content: space-around;
   height: fit-content;
}

.su-form-item {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 15%;
   margin:5rem 0rem ;
}

.su-form-item > input {
   outline: none;
   border: none;
   border-bottom: 1px black solid ;
   background-color: transparent;
   font-size: 20px;
   padding: 0.05rem 2rem;
}

.su-form-item > h2 {
   margin-left: -1.5rem;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}

.su-submit {
   margin-top: -6rem;
   cursor: pointer;
   background-color: rgb(184, 184, 184);
   border: 1px solid black;
   border-radius: 15px;
   font-size: 20px;
   padding: 0.5rem 0rem;
   width: 40%;
   transition: 0.25s ease-in-out;
}

.su-submit:hover {
   transform: scale(0.98);
}

.su-submit:active {
   transform: scale(0.95);
}

.su-login {
   text-decoration: underline;
   cursor: pointer;
}